.module-header {
    app-search-bar {
        width: 40%;
    }

    .module-actions {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;

        .btn-primary {
            flex-grow: 0.5;
            width: 25%;
        }   
    }
     
}

