<div class="module-wapper">
    @if (products.length === 0) {
        <div class="module-message">
            <h1>Actualmente no tiene productos registrados</h1>
            <p>Desea registrar un nuevo producto?</p>
            <button class="btn-primary" (click)="onAddProduct()">Añadir producto</button>
        </div>
    } @else {
        <div class="module-header">
            <p>Productos registrados</p>
            <app-search-bar [filters]="filters" (data)="onSearch($event)"></app-search-bar>
            <button class="btn-primary" (click)="onAddProduct()">Añadir producto</button>
        </div>        
        <div class="module-table">                     
            <app-table [itemsInput]="products$" [searchActive]="searchActive" (selectedItem)="onSelected($event)" (onCloseMarked)="onEndSearch()"></app-table>
        </div>
    }    
</div>
