<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                @for (field of fields; track $index) {
                @if (field !== '__v' && field !== '_id' && field !== 'userId') {
                <th>{{field}}</th>
                }
                }
                <th>Options</th>
            </tr>
        </thead>
        <tbody>

            @for (item of pagedItems; track $index) {
            <tr>
                @for (field of fields; track $index) {
                    @if (field !== '__v' && field !== '_id' && field !== 'userId') {
                        @if (field === 'registerDate') {
                            <td>{{item[field] | date: 'short'}}</td>
                        }   @else if (field === 'availability') {
                                <td [ngSwitch]="item[field]">
                                    <div class="square" *ngSwitchCase="true" style="background-color: #58f31f;"></div>
                                    <div class="square" *ngSwitchCase="false" style="background-color: #f31f1f;"></div>
                                </td>
                            } @else {
                                <td>{{item[field]}}</td>
                            }
                    }
                }
                <td>
                    <div class="options-wrapper">
                        <button class="btn-icon" (click)="onUpdate(item)">
                            <fa-icon [icon]="updateIcon"  class="icon"/>
                        </button>
                        <button class="btn-icon" (click)="onDelete(item)">
                            <fa-icon [icon]="deleteIcon"  class="icon"/>
                        </button>
                    </div>
                </td>
                
            </tr>
            }

        </tbody>
    </table>

    <mat-paginator [length]="items.length" [pageSize]="pageSize" (page)="handlePageEvent($event)"
        aria-label="Select page"></mat-paginator>
</div>